body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcd5b6; /* Cor de pele */
    color: #000; /* Preto */
}

header {
    background-color: #000;
    color: #fcd5b6; /* Cor de pele */
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fcd5b6; /* Cor de pele */
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fcd5b6; /* Cor de pele */
}

section h2 {
    color: #000; /* Preto */
}

section p, ul {
    color: #000; /* Preto */
}

footer {
    background-color: #000;
    color: #fcd5b6; /* Cor de pele */
    text-align: center;
    padding: 20px;
}
